@import "./global.scss";

.users-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 24px;
  min-height: 100vh;
}

@media screen and (max-width: $responsive) {
  .users-page {
    margin: 1rem 0px;
  }
}
